table, th, td {
  border: 2px solid;
  border-collapse: collapse;

}
th {
  text-align: left;
  background-color: #F00000;
  }
tr:nth-child(even)
{
background-color: #FFF000;
}
tr:nth-child(odd)
{
  background-color: #f2f2f2;

}
